<style>
      #main-menu>h1+ul{
          font-size:20px;
      }
      
      #main-menu>ul>li.first{
          font-size:40px;
          font-weight:bold;
      }

      #main-menu>ul>li.first+.aa{
          font-size:30px;
          color:red;
      }
      #main-menu>ul>li.first~.bb{
          font-size:50px;
          color:blue;
      }

      #member-menu a[href]{
          font-size:30px;
          color:green;
      }

      #member-menu a[href="../index.html"]{
          font-size:30px;
          color:red;
      }
    </style>