/* header Tag를 직접 사용하지 않음. section과 article Tag안에도 올 수 있기 때문.
    따라서, id를 사용 */
#header {
    height: 70px;  /* 높이 지정, 지정하지 않으면, content들에 따라 달라짐 */
    background: yellow;
}

#visual {
    height: 171px;
    background: green;
}

#body {
    height: 300px;
    background: red;
}

#footer {
    height: 100px;
    background: gray;
}