@import url(css/reset.css);
.s1 ul {
    display: flex;
    flex-direction: row;
    background: gray;
}

.s1 li {
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}

.s1 li:nth-child(1) {
    background: red;
    flex-grow: 3;    
}

.s1 li:nth-child(2) {
    background: green;
    flex-shrink: 0;
}

.s1 li:nth-child(3) {
    background: blue;
}

.s1 li:nth-child(4) {
    background: yellow;
}

.s1 li:nth-child(5) {
    background: lightblue;
}